body{

    background-image: url("/res/img/backgroundI.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.back{
    
    position: relative;
    color: white;
    font-size: 40px;
    font-family: Zen Old Mincho;
    top: 55px;
    text-align: center;

}

.back:hover{
    color: orange;
    
}

.wrapper{
    top: 7vh;
    position: relative;
    text-align: center;
}

a:link, a:visited, a:active {
    color:white;
    text-decoration: none;
  }
  
  a:hover{
  
    color: orangered;
  
  }

  #canvas{
    position: relative;
    background-color: white;
    width: 80%;
    height: 85vh;
    border: 5px solid red;
    
  }
 