* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  
}

.back {
  position: fixed;
  color: white;
  font-size: 40px;
  font-family: Zen Old Mincho;
  bottom: 10px;
  right: 20px;
}

.back:hover {
  color: orange;
}

#wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1600px;
  height: 800px;
}

a:link,
a:visited,
a:active {
  color: white;
  text-decoration: none;
}

a:hover {
  color: orangered;
}

#canvas {
  position: relative;
  background-color: white;
  border: 5px solid red;
}

#score {
  color: red;
  font-family: Zen Old Mincho;
  font-size: 40px;
  font-weight: bold;
  position: fixed;
  top: 13%;
  left: 13%;
}