body {
  background-image: url("/res/img/backgroundI.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  user-select: none;
}

a:link, a:visited, a:active {
  color:white;
  text-decoration: none;
}

a:hover{

  color: orangered;
  cursor: pointer;
}

.wrapper {
  margin: 17% auto;
  text-align: center;
}

.start,
.tutorial {
  color: white;
  font-size: 100px;
  font-family: Zen Old Mincho;
  
}




